@import "colours";
@import "mixins";
@import "typography";
@import "popup";
@import "boardsPannel";

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: $lblue;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
