@import 'src/palette.css';

.HomePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.subHeading {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--white);
  font-size: 16px;
  font-weight: 800;
}

.titleLine {
  margin-left: 10px;
  content:"";
  flex: 1 1 auto;
  border-top: 1px solid var(--white);
}

.boardsPanel {
  width: 20em;
  height: 100%;
  position: relative;
  background: var(--dark-grey);
  box-shadow: 0 0 0.4em 0 rgba(13, 26, 44, 0.2);
  padding: 0 40px;
  color: var(--white);
}

.moodboardContainer {
  width: calc(100% - 20em);
  height: 100%;
}

.currentMoodboard {
  width: 100%;
  height: 100%;
}

.previewList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moodboardPreview {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}
