@import 'src/palette.css';

.HomePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.subHeading {
  position: absolute;
  top: 100px;
  right: 0;
  color: var(--white);
  font-size: 16px;
  font-weight: 800;
  transform: rotate(90deg);
}

.boardsPanel {
  width: 20em;
  height: 100%;
  position: relative;
  background: var(--dark-grey);
  box-shadow: 0 0 0.4em 0 rgba(13, 26, 44, 0.2);
}

.moodboardContainer {
  width: calc(100% - 20em);
  height: 100%;
}

.currentMoodboard {
  width: 100%;
  height: 100%;
}

.previewList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}

.moodboardPreview {
  width: 100%;
  text-align: left;
}
