html {
  min-height: 100%;
  min-width: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  font-family: Roboto-Regular, -apple-system, '.SFNSText-Regular', 'Helvetica Neue', 'Segoe UI', sans-serif;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #F2F5FA;
}

.popup-container {
  width: 300px;
  margin: auto;
  padding-top: 60px;
}

.popup-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-smoothing: antialiased;
  box-shadow: 0 -1px 0 rgba(40, 51, 75, 0.1);
}

.popup-button {
  width: 50%;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.popup-button:hover {
  background: #f7f7f7;
}

#clipboard {
  width: 100%;
  margin-top: 20px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
