/* stylelint-disable selector-no-type */
@import 'src/palette.css';

html {
  min-height: 100%;
  min-width: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  font-family: Roboto-Regular, -apple-system, '.SFNSText-Regular', 'Helvetica Neue', 'Segoe UI', sans-serif;
  margin: 0;
  background: var(--light-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*, *::before, *::after {
  box-sizing: inherit;
}
